* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to left, #ff0000 , #ffff00);
}

input {
  background-color: #ffb060;
}

.search-container {
  margin-top: 50vh;
  width: fit-content;
}

.search-container .suggestions {
  width: 100%;
}

ul {
  list-style-type: none;
  width: 100%;
}

ul li {
  background-color: #ffb060;
  padding: 0.5vh 1vw;
}

ul li:hover {
  background-color: #ff0000;
}

input {
  padding: 1vh 1vw;
  border: none;
  border-bottom: #ff0000 solid 3px;
}