{% extends 'base.html' %}

{% block title %}Question Page{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <h3>{{ category }} : {{ message }}</h3>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="/answer" method="post">
        <label>{{ question.question }}</label><br>
        {% for choice in question.choices %}
            <input id="{{ choice }}" type="radio" name="answer" value="{{ choice }}">
            <label for="{{ choice }}">{{ choice }}</label><br>
        {% endfor %}
        <button type="submit">Submit Response</button>
    </form>

{% endblock %}