.preview {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.prev-text {
    font-size: 100px;
    color: #ffffff;
    text-transform: uppercase;
}

.prev-link {
    font-size: 60px;
}