.color-background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-form {
    padding: 5vh 5vw;
    border-radius: 20px;
    background-color: lightblue;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tb-margin {
    margin: 2vh 0;
}

label {
    width: 10vw;
    font-size: 20px;
    margin-right: 2vw;
}

input {
    max-width: 8vw;
}